<div class="d-flex">
  <h5>Setting</h5>
</div>
<div class="setting-info ">
  <img class="setting-info__avatar"
       src="http://localhost:63342/Lap_Trinh_Frontend_Nhom31/template/assets/images/users/avatar-1.jpg" alt="">
  <p class="setting-info__name mt-2"><strong>Patricia Smith</strong></p>
</div>
<div class="list-function">


  <mdb-accordion class="w-100">
    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader>Account</ng-template>
      <ng-template mdbAccordionItemBody>
        <div class="list-function__item d-flex justify-content-between">
          <span class="list-function__item--logout">Logout</span>
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </div>
      </ng-template>
    </mdb-accordion-item>


  </mdb-accordion>

</div>
