<div class="d-flex justify-content-between">
  <h5>Groups</h5>
  <button class="btn-create" (click)="isShowing =true">
    <i class="fa-solid fa-user-group"></i>
    <span class="btn-create__hint">Create groups</span>
  </button>
</div>

<div class="modal-create-group" *ngIf="isShowing" (click)="isShowing =false"></div>

<div class="modal-create-groupss" *ngIf="isShowing">
  <div class="d-flex justify-content-between align-items-center modal-create-groupss__header">
    <h5>Create New Group</h5>
    <button class="modal-create-groupss__header--close" (click)="isShowing =false">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="modal-create-groupss__body">
    <div class="d-flex flex-column">
      <label>Group Name</label>
      <input type="text" placeholder="Enter Group Name">
    </div>

    <div class="d-flex flex-column">
      <label>Group Members</label>
      <div class="modal-create-groupss__body--list-member style-5" >
          <div class="modal-create-groupss__body--list-member__item">
            <input type="checkbox" id="member1"  >
            <label for="member1">Minh Chanh</label>
          </div>
        <div class="modal-create-groupss__body--list-member__item">
          <input type="checkbox" id="member2"  >
          <label for="member2">Phi Khanh</label>
        </div>
        <div class="modal-create-groupss__body--list-member__item">
          <input type="checkbox" id="member3"  >
          <label for="member3">Hung</label>
        </div>
        <div class="modal-create-groupss__body--list-member__item">
          <input type="checkbox" id="member4"  >
          <label for="member4">Nguyen Vass</label>
        </div>
        <div class="modal-create-groupss__body--list-member__item">
          <input type="checkbox" id="member5"  >
          <label for="member5">Leesa Kaizas</label>
        </div>
        <div class="modal-create-groupss__body--list-member__item">
          <input type="checkbox" id="member6"  >
          <label for="member6">Ruizz VaaMass</label>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex modal-create-groupss__footer">
    <button class="modal-create-groupss__footer--close" (click)="isShowing =false">Close</button>
    <button class="modal-create-groupss__footer--create">Create Groups</button>
  </div>
</div>


<form action="" id="search-groups" class="mt-3">
  <i class="fa-solid fa-magnifying-glass"></i>
  <input type="text" placeholder="search groups..." class="search-input">
</form>
<div class="groups mt-4 style-5" >
  <a href="" class="d-flex justify-content-between align-items-center">
    <div class="groups-left d-flex align-items-center ">
      <span class="groups-left__avatar ">G</span>
      <span class="groups-left__name">#General General General General General</span>
    </div>
    <div class="groups-right">
      <span class="groups-right__seen">+92323239</span>
    </div>
  </a>

  <a href="" class="d-flex justify-content-between align-items-center">
    <div class="groups-left d-flex align-items-center ">
      <span class="groups-left__avatar ">D</span>
      <span class="groups-left__name">#Deneral General General General General</span>
    </div>
    <div class="groups-right">
      <span class="groups-right__seen">+92323239</span>
    </div>
  </a>

  <a href="" class="d-flex justify-content-between align-items-center">
    <div class="groups-left d-flex align-items-center ">
      <span class="groups-left__avatar ">K</span>
      <span class="groups-left__name">#Kazair General General General General</span>
    </div>
    <div class="groups-right">
      <span class="groups-right__seen">+92323239</span>
    </div>
  </a>

  <a href="" class="d-flex justify-content-between align-items-center">
    <div class="groups-left d-flex align-items-center ">
      <span class="groups-left__avatar ">M</span>
      <span class="groups-left__name">#Miazair General General General General</span>
    </div>
    <div class="groups-right">
      <span class="groups-right__seen">+92323239</span>
    </div>
  </a>

  <a href="" class="d-flex justify-content-between align-items-center">
    <div class="groups-left d-flex align-items-center ">
      <span class="groups-left__avatar ">G</span>
      <span class="groups-left__name">#General General General General General</span>
    </div>
    <div class="groups-right">
      <span class="groups-right__seen">+92323239</span>
    </div>
  </a>

  <a href="" class="d-flex justify-content-between align-items-center">
    <div class="groups-left d-flex align-items-center ">
      <span class="groups-left__avatar ">D</span>
      <span class="groups-left__name">#Deneral General General General General</span>
    </div>
    <div class="groups-right">
      <span class="groups-right__seen">+92323239</span>
    </div>
  </a>

  <a href="" class="d-flex justify-content-between align-items-center">
    <div class="groups-left d-flex align-items-center ">
      <span class="groups-left__avatar ">K</span>
      <span class="groups-left__name">#Kazair General General General General</span>
    </div>
    <div class="groups-right">
      <span class="groups-right__seen">+92323239</span>
    </div>
  </a>

  <a href="" class="d-flex justify-content-between align-items-center">
    <div class="groups-left d-flex align-items-center ">
      <span class="groups-left__avatar ">M</span>
      <span class="groups-left__name">#Miazair General General General General</span>
    </div>
    <div class="groups-right">
      <span class="groups-right__seen">+92323239</span>
    </div>
  </a>

  <a href="" class="d-flex justify-content-between align-items-center">
    <div class="groups-left d-flex align-items-center ">
      <span class="groups-left__avatar ">G</span>
      <span class="groups-left__name">#General General General General General</span>
    </div>
    <div class="groups-right">
      <span class="groups-right__seen">+92323239</span>
    </div>
  </a>

  <a href="" class="d-flex justify-content-between align-items-center">
    <div class="groups-left d-flex align-items-center ">
      <span class="groups-left__avatar ">D</span>
      <span class="groups-left__name">#Deneral General General General General</span>
    </div>
    <div class="groups-right">
      <span class="groups-right__seen">+92323239</span>
    </div>
  </a>

  <a href="" class="d-flex justify-content-between align-items-center">
    <div class="groups-left d-flex align-items-center ">
      <span class="groups-left__avatar ">K</span>
      <span class="groups-left__name">#Kazair General General General General</span>
    </div>
    <div class="groups-right">
      <span class="groups-right__seen">+92323239</span>
    </div>
  </a>

  <a href="" class="d-flex justify-content-between align-items-center">
    <div class="groups-left d-flex align-items-center ">
      <span class="groups-left__avatar ">M</span>
      <span class="groups-left__name">#Miazair General General General General</span>
    </div>
    <div class="groups-right">
      <span class="groups-right__seen">+92323239</span>
    </div>
  </a>

  <a href="" class="d-flex justify-content-between align-items-center">
    <div class="groups-left d-flex align-items-center ">
      <span class="groups-left__avatar ">G</span>
      <span class="groups-left__name">#General General General General General</span>
    </div>
    <div class="groups-right">
      <span class="groups-right__seen">+92323239</span>
    </div>
  </a>

  <a href="" class="d-flex justify-content-between align-items-center">
    <div class="groups-left d-flex align-items-center ">
      <span class="groups-left__avatar ">D</span>
      <span class="groups-left__name">#Deneral General General General General</span>
    </div>
    <div class="groups-right">
      <span class="groups-right__seen">+92323239</span>
    </div>
  </a>

  <a href="" class="d-flex justify-content-between align-items-center">
    <div class="groups-left d-flex align-items-center ">
      <span class="groups-left__avatar ">K</span>
      <span class="groups-left__name">#Kazair General General General General</span>
    </div>
    <div class="groups-right">
      <span class="groups-right__seen">+92323239</span>
    </div>
  </a>

  <a href="" class="d-flex justify-content-between align-items-center">
    <div class="groups-left d-flex align-items-center ">
      <span class="groups-left__avatar ">M</span>
      <span class="groups-left__name">#Miazair General General General General</span>
    </div>
    <div class="groups-right">
      <span class="groups-right__seen">+92323239</span>
    </div>
  </a>
</div>
