    <mdb-tabs [vertical]="true" class="h-100 container__menu">
    <mdb-tab>
      <ng-template mdbTabTitle>
        Logo
      </ng-template>
    </mdb-tab>
    <mdb-tab>
      <ng-template mdbTabTitle>
        <span class="menu__item"><i class="fa-solid fa-comment"></i></span>
      </ng-template>
      <app-search></app-search>
    </mdb-tab>
    <mdb-tab>
      <ng-template mdbTabTitle>
        <span class="menu__item"><i class="fa-solid fa-user"></i></span>
      </ng-template>
      <app-profile></app-profile>
    </mdb-tab>
    <mdb-tab>
      <ng-template mdbTabTitle>
        <span class="menu__item"><i class='fa-solid fa-user-group'></i></span>
      </ng-template>
      <app-search></app-search>
    </mdb-tab>
<!--    <mdb-tab>-->
<!--      <ng-template mdbTabTitle>-->
<!--        <div mdbDropdown class="dropdown">-->
<!--          <div-->
<!--            class=""-->
<!--            id="dropdownMenuButton"-->
<!--            aria-expanded="false"-->
<!--            mdbDropdownToggle-->
<!--          >-->
<!--            <img class="rounded-circle" src="../../../../../assets/images/users/avatar-1.jpg" width="40px" height="40px" />-->
<!--          </div>-->
<!--          <ul  mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--            <li><a class="dropdown-item" href="#">Profile</a></li>-->
<!--            <li><a class="dropdown-item" href="#">Setting</a></li>-->
<!--            <li><a class="dropdown-item" href="#">Log out</a></li>-->
<!--          </ul >-->
<!--        </div>-->
<!--      </ng-template>-->
<!--    </mdb-tab>-->
  </mdb-tabs>


