<div class="d-flex justify-content-between">
  <h5>{{'Hồ Sơ'|translate}}</h5>
</div>
<div class="text-center image-user">
  <div>
    <img class="image-user__avatar"
         src="{{this.profileService.src}}"
         alt="">
  </div>
  <p class="text-center mt-2 fw-bold">{{userName}}</p>
</div>
<div class="user-description pb-5">
  If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the
  individual.
</div>

<div class="about pt-5">
  <label>{{'Tên tài khoản'| translate}}</label>
  <p><strong>{{userName}}</strong></p>

  <label>{{'Email'|translate}}</label>
  <p><strong>{{userName}}@gmail.com</strong></p>

  <label>{{'Trạng thái'| translate}}</label>
  <p class="text-success fw-bold">{{this.profileService.statusUser === true ? 'Online' : ''}}</p>
  <p class="text-danger fw-bold">{{this.profileService.statusUser === false || undefined || null ? 'Offline' : ''}}</p>
<!--  <label>Location</label>-->
<!--  <p><strong>Linh Chieu, Thu Duc</strong></p>-->
</div>
