<div class="d-flex justify-content-between">
  <h5>My profile</h5>
</div>
<div class="text-center image-user">
  <div>
    <img class="image-user__avatar"
         src="https://png.pngtree.com/png-vector/20190625/ourlarge/pngtree-business-male-user-avatar-vector-png-image_1511454.jpg"
         alt="">
    <i class="fa-solid fa-circle  {{this.profileService.userObject.status ? 'image-user__online':'image-user__offline'}}"></i>
  </div>
  <p class="text-center mt-2 fw-bold">{{userName}}</p>
</div>
<div class="user-description pb-5">
  If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the
  individual.
</div>

<div class="about pt-5">
  <label>UserName</label>
  <p><strong>{{userName}}</strong></p>

  <label>Email</label>
  <p><strong>{{userName}}@gmail.com</strong></p>

  <label>Status</label>
  <p [class.text-success]= "this.profileService.userObject.status"><strong> {{this.profileService.userObject.status ? 'Online':'Offline'}}</strong></p>

  <label>Location</label>
  <p><strong>Linh Chieu, Thu Duc</strong></p>
</div>
