<div class="d-flex justify-content-between">
  <h5>My profile</h5>
</div>
<div class="text-center">
  <img class="avatar" src="http://localhost:63342/Lap_Trinh_Frontend_Nhom31/template/assets/images/users/avatar-1.jpg"
       alt="">
  <p class="text-center mt-2 fw-bold">Patricia Smith</p>
</div>
<div class="user-description pb-5">
  If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the
  individual.
</div>

<div class="about pt-5">
  <label>Name</label>
  <p><strong>Le Minh Chanh</strong></p>

  <label>Email</label>
  <p><strong>minhchanh@gmail.com</strong></p>

  <label>BirthDay</label>
  <p><strong>16/08/2001</strong></p>

  <label>Location</label>
  <p><strong>Linh Chieu, Thu Duc</strong></p>
</div>
