<div class="account-pages ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="form-login col-md-8 col-lg-6 col-xl-5">
        <div class="text-center mb-4">
          <a href="index.html" class="auth-logo mb-2 d-block">
            <img src="assets/images/logo-dark.png" alt="" height="30" class="logo logo-dark">
<!--            <img src="assets/images/logo-light.png" alt="" height="30" class="logo logo-light">-->
          </a>

          <h4>Sign in</h4>
          <p class="text-muted mb-4">Sign in to continue to Chatvia.</p>

        </div>

        <div class="card">
          <div class="card-body p-4">
            <div class="p-3">
              <form action="" [formGroup]="signinForm" (ngSubmit)="login()">
                <div class="mb-3">
                  <label class=" label-login" >Username</label>
                  <div class=" div-input input-group mb-3 bg-soft-light rounded-3">
                                            <span class=" " id="basic-addon3">
                                                    <i class="fa-solid fa-user"></i>
                                                </span>
                    <input type="text" formControlName="username" class="input-control" placeholder="Enter Username" aria-label="Enter Username" aria-describedby="basic-addon3" name="username" [(ngModel)]="username" >
                  </div>
                  <div *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)">
                    <div *ngIf="f.username.errors">
                      <div *ngIf="f.username.errors.required">
                        <div class="col alert-danger" role="alert" style="border-radius: 5px;margin-top: -10px;padding: 0px 10px">
                          Username không được để trống!
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mb-4">
                  <div class="float-end">
                    <a href="auth-recoverpw.html" class="text-muted font-size-13">Forgot password?</a>
                  </div>
                  <label class="label-login" >Password</label>
                  <div class="div-input input-group mb-3 bg-soft-light rounded-3">
                                            <span class="" id="basic-addon4">
                                                    <i class="fa-solid fa-key"></i>
                                                </span>
                    <input type="password" formControlName="password" class="input-control " placeholder="Enter Password" aria-label="Enter Password" aria-describedby="basic-addon4" name="password" [(ngModel)]="password">

                  </div>
                  <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
                    <div *ngIf="f.password.errors">
                      <div *ngIf="f.password.errors.required">
                        <div class="col alert-danger" role="alert" style="border-radius: 5px;margin-top: -10px;padding: 0px 10px">
                          password không được để trống!
                        </div>
                      </div>
                      <div *ngIf="f.password.errors.minLength(6)">
                        <div class="col alert-danger" role="alert" style="border-radius: 5px;margin-top: -10px;padding: 0px 10px">
                          password phải ít nhất 6 ký tự!
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-check mb-4">
                  <input type="checkbox" class="form-check-input" id="remember-check">
                  <label class="check-label" for="remember-check">Remember me</label>
                </div>

                <div class="d-grid">
                  <button class="btn  waves-effect waves-light"   type="submit">Sign in</button>
                </div>

              </form>
            </div>
          </div>
        </div>

        <div class="mt-5 text-center">
          <p>Don't have an account ? <a href="../register" class="fw-medium text-primary"> Signup now </a> </p>
          <p>©
            <script>
              document.write(new Date().getFullYear())
            </script> Chatvia. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p>
        </div>
      </div>
    </div>
  </div>
</div>
