<div class="text-center vh-100 d-flex flex-column  justify-content-between position-relative">
  <app-header-bar></app-header-bar>
  <!-- reverse de auto scroll bottom-->
  <div class="container__content d-flex flex-column-reverse" (scroll)="onScroll($event)">
    <!-- new array message -->
    <app-content-chat class="d-flex flex-column-reverse" [contentChatService]="this.contentChatService"></app-content-chat>
    <!-- old array message -->
    <app-content-chat class="d-flex flex-column-reverse" [contentChatService]="this.oldContentChatService"></app-content-chat>
<!--    <div *ngIf="getIsHasMoreData()==false" class="container__time d-flex justify-content-center align-items-center">-->
<!--      <span class="time" *ngIf="this.oldContentChatService.date != ''; else time">-->
<!--        {{this.oldContentChatService.date}}-->
<!--      </span>-->
<!--      <ng-template #time>{{this.contentChatService.date}}</ng-template>-->
<!--    </div>-->
    <div class="contain__image d-flex flex-wrap flex-row-reverse w-100">
        <div *ngFor="let image of images">
          <img src="{{image}}" alt="404 image" width="250px" height="250px" class="mx-1 my-1">
        </div>
    </div>
    <div class="container__spinner" *ngIf="spinner.isShow">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <app-input-chat (setScrollToBottomEvent)="setScrollToBottom()" (addImage)="addImage($event)" (resetArrayImage)="resetArrayImage()"></app-input-chat>
</div>

