.container__content {
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(209,214,219);
  border-radius: 10px;
}

