.container__content {
  overflow-y: scroll;
}

.container__top-bar {
  border-bottom: 1px solid red !important;
}

.container__status {
  position: relative;
  padding: 0 10px;
  .status {
    position: absolute;
    top: 35%;
    right: 0;
    background-color: red;
    border-radius: 100%;
    width: 13px;
    height: 13px;
  }
  .colorActive {
    background-color: #06D6A0;
  }
}
