<!--<div class="card container__search vh-100">-->
<!--  Chats-->
<!--  <div class="card-body">-->
<!--    <div class="card-title">-->
<!--      <form class="form-inline waves-light" mdbWavesEffect>-->
<!--        <div class="md-form mt-0">-->
<!--          <input class="form-control mr-sm-2" type="text" placeholder="Search messages or users">-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--    <div class="card-text">-->
<!--      // carousel-->
<!--      <owl-carousel-o [options]="customOptions" class="contain__carousel">-->
<!--        <ng-template carouselSlide>x</ng-template>-->
<!--        <ng-template carouselSlide>y</ng-template>-->
<!--        <ng-template carouselSlide>z</ng-template>-->
<!--      </owl-carousel-o>-->
<!--    </div>-->
<!--    <div class="card-title">-->
<!--      Recent-->
<!--    </div>-->
<!--    <div class="card-text">-->
<!--      <ul class="list-group">-->
<!--        <li class="d-flex justify-content-between align-items-center my-3">-->
<!--          <div class="d-flex justify-content-evenly align-items-center user">-->
<!--            <div class="img_user">-->
<!--              <img class="rounded-circle" src="../../../../../assets/images/users/avatar-1.jpg" width="40px" height="40px" />-->
<!--              <span class="user__status"></span>-->
<!--            </div>-->
<!--            <div class="mx-1" class="text__user">-->
<!--              <span class="name">okela</span>-->
<!--              <br>-->
<!--              <span class="text">Test 123 okela</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <mdb-badge pill="true" primary="true" class="badge">-->
<!--            <span class="time">05 minute</span>-->
<!--            <p class="missing-message">02</p>-->
<!--          </mdb-badge>-->
<!--        </li>-->
<!--        <li class="d-flex justify-content-between align-items-center my-3">-->
<!--          <div class="d-flex justify-content-evenly align-items-center">-->
<!--            <img class="rounded-circle" src="../../../../../assets/images/users/avatar-1.jpg" width="40px" height="40px" />-->
<!--            <div class="mx-1">-->
<!--              <span class="name">okela</span>-->
<!--              <br>-->
<!--              <span>Test 123 okela</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <mdb-badge pill="true" primary="true">-->
<!--            <span class="time">05 minute</span>-->
<!--            <br>-->
<!--            <span class="missing-message">02</span>-->
<!--          </mdb-badge>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

