<div class="bg-chats">
  <h5>Chats</h5>
  <form action="" id="search-form">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" placeholder="search messages or users" class="search-input">
  </form>

  <h5 class="mt-4">Recent</h5>
  <div class="chats style-5" >
    <a href="">
      <div class="chats-left">
        <img class="chats-left__avatar"
             src="http://localhost:63342/Lap_Trinh_Frontend_Nhom31/template/assets/images/users/avatar-2.jpg" alt="">
        <span class="chats-left__status active">
          <i class="fa-solid fa-period">
            <i class="fa-solid fa-circle"></i>
          </i></span>
        <div>
          <span class="chats-left__name">Le Minh Chanh</span>
          <br>
          <span class="chats-left__messages">Lorem Ipsum is Lorem Ipsum but</span>
        </div>
      </div>
      <div class="chats-right">
        <span class="chats-right__time">05 min</span>
        <span class="chats-right__seen">99</span>
      </div>
    </a>
    <a href="">
      <div class="chats-left">
        <img class="chats-left__avatar"
             src="http://localhost:63342/Lap_Trinh_Frontend_Nhom31/template/assets/images/users/avatar-4.jpg" alt="">
        <span class="chats-left__status non-active">
          <i class="fa-solid fa-period">
            <i class="fa-solid fa-circle"></i>
          </i></span>
        <div>
          <span class="chats-left__name">Le Minh Chanh</span>
          <br>
          <span class="chats-left__messages">Lorem Ipsum is Lorem Ipsum but</span>
        </div>
      </div>
      <div class="chats-right">
        <span class="chats-right__time">05 min</span>
        <span class="chats-right__seen">99</span>
      </div>
    </a>
    <a href="">
      <div class="chats-left">
        <img class="chats-left__avatar"
             src="http://localhost:63342/Lap_Trinh_Frontend_Nhom31/template/assets/images/users/avatar-5.jpg" alt="">
        <span class="chats-left__status non-active">
          <i class="fa-solid fa-period">
            <i class="fa-solid fa-circle"></i>
          </i></span>
        <div>
          <span class="chats-left__name">Le Minh Chanh</span>
          <br>
          <span class="chats-left__messages">Lorem Ipsum is Lorem Ipsum but</span>
        </div>
      </div>
      <div class="chats-right">
        <span class="chats-right__time">05 min</span>
        <span class="chats-right__seen">99</span>
      </div>
    </a>

    <a href="">
      <div class="chats-left">
        <img class="chats-left__avatar"
             src="http://localhost:63342/Lap_Trinh_Frontend_Nhom31/template/assets/images/users/avatar-2.jpg" alt="">
        <span class="chats-left__status active">
          <i class="fa-solid fa-period">
            <i class="fa-solid fa-circle"></i>
          </i></span>
        <div>
          <span class="chats-left__name">Le Minh Chanh</span>
          <br>
          <span class="chats-left__messages">Lorem Ipsum is Lorem Ipsum but</span>
        </div>
      </div>
      <div class="chats-right">
        <span class="chats-right__time">05 min</span>
        <span class="chats-right__seen">99</span>
      </div>
    </a>
    <a href="">
      <div class="chats-left">
        <img class="chats-left__avatar"
             src="http://localhost:63342/Lap_Trinh_Frontend_Nhom31/template/assets/images/users/avatar-4.jpg" alt="">
        <span class="chats-left__status non-active">
          <i class="fa-solid fa-period">
            <i class="fa-solid fa-circle"></i>
          </i></span>
        <div>
          <span class="chats-left__name">Le Minh Chanh</span>
          <br>
          <span class="chats-left__messages">Lorem Ipsum is Lorem Ipsum but</span>
        </div>
      </div>
      <div class="chats-right">
        <span class="chats-right__time">05 min</span>
        <span class="chats-right__seen">99</span>
      </div>
    </a>
    <a href="">
      <div class="chats-left">
        <img class="chats-left__avatar"
             src="http://localhost:63342/Lap_Trinh_Frontend_Nhom31/template/assets/images/users/avatar-5.jpg" alt="">
        <span class="chats-left__status non-active">
          <i class="fa-solid fa-period">
            <i class="fa-solid fa-circle"></i>
          </i></span>
        <div>
          <span class="chats-left__name">Le Minh Chanh</span>
          <br>
          <span class="chats-left__messages">Lorem Ipsum is Lorem Ipsum but</span>
        </div>
      </div>
      <div class="chats-right">
        <span class="chats-right__time">05 min</span>
        <span class="chats-right__seen">99</span>
      </div>
    </a>


    <a href="">
      <div class="chats-left">
        <img class="chats-left__avatar"
             src="http://localhost:63342/Lap_Trinh_Frontend_Nhom31/template/assets/images/users/avatar-2.jpg" alt="">
        <span class="chats-left__status active">
          <i class="fa-solid fa-period">
            <i class="fa-solid fa-circle"></i>
          </i></span>
        <div>
          <span class="chats-left__name">Le Minh Chanh</span>
          <br>
          <span class="chats-left__messages">Lorem Ipsum is Lorem Ipsum but</span>
        </div>
      </div>
      <div class="chats-right">
        <span class="chats-right__time">05 min</span>
        <span class="chats-right__seen">99</span>
      </div>
    </a>
    <a href="">
      <div class="chats-left">
        <img class="chats-left__avatar"
             src="http://localhost:63342/Lap_Trinh_Frontend_Nhom31/template/assets/images/users/avatar-4.jpg" alt="">
        <span class="chats-left__status non-active">
          <i class="fa-solid fa-period">
            <i class="fa-solid fa-circle"></i>
          </i></span>
        <div>
          <span class="chats-left__name">Le Minh Chanh</span>
          <br>
          <span class="chats-left__messages">Lorem Ipsum is Lorem Ipsum but</span>
        </div>
      </div>
      <div class="chats-right">
        <span class="chats-right__time">05 min</span>
        <span class="chats-right__seen">99</span>
      </div>
    </a>
    <a href="">
      <div class="chats-left">
        <img class="chats-left__avatar"
             src="http://localhost:63342/Lap_Trinh_Frontend_Nhom31/template/assets/images/users/avatar-5.jpg" alt="">
        <span class="chats-left__status non-active">
          <i class="fa-solid fa-period">
            <i class="fa-solid fa-circle"></i>
          </i></span>
        <div>
          <span class="chats-left__name">Le Minh Chanh</span>
          <br>
          <span class="chats-left__messages">Lorem Ipsum is Lorem Ipsum but</span>
        </div>
      </div>
      <div class="chats-right">
        <span class="chats-right__time">05 min</span>
        <span class="chats-right__seen">99</span>
      </div>
    </a>


    <a href="">
      <div class="chats-left">
        <img class="chats-left__avatar"
             src="http://localhost:63342/Lap_Trinh_Frontend_Nhom31/template/assets/images/users/avatar-2.jpg" alt="">
        <span class="chats-left__status active">
          <i class="fa-solid fa-period">
            <i class="fa-solid fa-circle"></i>
          </i></span>
        <div>
          <span class="chats-left__name">Le Minh Chanh</span>
          <br>
          <span class="chats-left__messages">Lorem Ipsum is Lorem Ipsum but</span>
        </div>
      </div>
      <div class="chats-right">
        <span class="chats-right__time">05 min</span>
        <span class="chats-right__seen">99</span>
      </div>
    </a>
    <a href="">
      <div class="chats-left">
        <img class="chats-left__avatar"
             src="http://localhost:63342/Lap_Trinh_Frontend_Nhom31/template/assets/images/users/avatar-4.jpg" alt="">
        <span class="chats-left__status non-active">
          <i class="fa-solid fa-period">
            <i class="fa-solid fa-circle"></i>
          </i></span>
        <div>
          <span class="chats-left__name">Le Minh Chanh</span>
          <br>
          <span class="chats-left__messages">Lorem Ipsum is Lorem Ipsum but</span>
        </div>
      </div>
      <div class="chats-right">
        <span class="chats-right__time">05 min</span>
        <span class="chats-right__seen">99</span>
      </div>
    </a>
    <a href="">
      <div class="chats-left">
        <img class="chats-left__avatar"
             src="http://localhost:63342/Lap_Trinh_Frontend_Nhom31/template/assets/images/users/avatar-5.jpg" alt="">
        <span class="chats-left__status non-active">
          <i class="fa-solid fa-period">
            <i class="fa-solid fa-circle"></i>
          </i></span>
        <div>
          <span class="chats-left__name">Le Minh Chanh</span>
          <br>
          <span class="chats-left__messages">Lorem Ipsum is Lorem Ipsum but</span>
        </div>
      </div>
      <div class="chats-right">
        <span class="chats-right__time">05 min</span>
        <span class="chats-right__seen">99</span>
      </div>
    </a>


    <a href="">
      <div class="chats-left">
        <img class="chats-left__avatar"
             src="http://localhost:63342/Lap_Trinh_Frontend_Nhom31/template/assets/images/users/avatar-2.jpg" alt="">
        <span class="chats-left__status active">
          <i class="fa-solid fa-period">
            <i class="fa-solid fa-circle"></i>
          </i></span>
        <div>
          <span class="chats-left__name">Le Minh Chanh</span>
          <br>
          <span class="chats-left__messages">Lorem Ipsum is Lorem Ipsum but</span>
        </div>
      </div>
      <div class="chats-right">
        <span class="chats-right__time">05 min</span>
        <span class="chats-right__seen">99</span>
      </div>
    </a>
    <a href="">
      <div class="chats-left">
        <img class="chats-left__avatar"
             src="http://localhost:63342/Lap_Trinh_Frontend_Nhom31/template/assets/images/users/avatar-4.jpg" alt="">
        <span class="chats-left__status non-active">
          <i class="fa-solid fa-period">
            <i class="fa-solid fa-circle"></i>
          </i></span>
        <div>
          <span class="chats-left__name">Le Minh Chanh</span>
          <br>
          <span class="chats-left__messages">Lorem Ipsum is Lorem Ipsum but</span>
        </div>
      </div>
      <div class="chats-right">
        <span class="chats-right__time">05 min</span>
        <span class="chats-right__seen">99</span>
      </div>
    </a>
    <a href="">
      <div class="chats-left">
        <img class="chats-left__avatar"
             src="http://localhost:63342/Lap_Trinh_Frontend_Nhom31/template/assets/images/users/avatar-5.jpg" alt="">
        <span class="chats-left__status non-active">
          <i class="fa-solid fa-period">
            <i class="fa-solid fa-circle"></i>
          </i></span>
        <div>
          <span class="chats-left__name">Le Minh Chanh</span>
          <br>
          <span class="chats-left__messages">Lorem Ipsum is Lorem Ipsum but</span>
        </div>
      </div>
      <div class="chats-right">
        <span class="chats-right__time">05 min</span>
        <span class="chats-right__seen">99</span>
      </div>
    </a>
  </div>
</div>
<!--start search auto completed-->
<!--<mdb-form-control>-->
<!--  <input-->
<!--    mdbInput-->
<!--    [ngModel]="searchText | async"-->
<!--    (ngModelChange)="searchText.next($event)"-->
<!--    [mdbAutocomplete]="autocomplete"-->
<!--    type="text"-->
<!--    id="autocomplete"-->
<!--    class="form-control"-->
<!--    placeholder="search messages or users"-->
<!--  />-->

<!--&lt;!&ndash;  <label mdbLabel class="form-label" for="autocomplete"> <i class="fa-solid fa-magnifying-glass"></i></label>&ndash;&gt;-->
<!--</mdb-form-control>-->
<!--<mdb-autocomplete #autocomplete="mdbAutocomplete">-->
<!--  <mdb-option *ngFor="let option of results | async" [value]="option">-->
<!--    {{ option }}-->
<!--  </mdb-option>-->
<!--  <div *ngIf="notFound" class="autocomplete-no-results">No results found</div>-->
<!--</mdb-autocomplete>-->
<!--end search auto completed-->
